.App {
  text-align: center;
}

.Smurfs > div {
  background: lemonchiffon;
  border-radius: 12px 12px 0 0;
  border-bottom: 3px solid #333;
  width: 400px;
  margin: 0 auto;
}

.Smurfs > div a {
  text-decoration: none;
  color: #000;
}
